/*COLORS*/

 /*YELLOW rgb(250, 183, 33) */

/*--my-main-color: rgb(0, 117, 143, 0.8);  SVETLIJA PLAVA*/


:root {
	--my-main-color: rgba(0, 117, 143, 0.8);
	--my-link-color: #fab721;
	--my-secondary-color: #f7f9fa;


}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

::selection {
	background: var(--my-link-color);
}



/*------------------ SCROLL ANMIATION ------------------*/

.scroll {
	position: absolute;
	left: 50%;
	top: 90%;
	display: block;
	font-size: 0.933rem;
	color: white;
	text-decoration: none;
}
.scroll::before {
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 32px;
	height: 50px;
	border: 2px solid white;
	border-radius: 14px;
	content: "";
}
.scroll::after {
	display: block;
	position: absolute;
	top: 9px;
	left: 15px;
	width: 2px;
	height: 8px;
	background: white;
	border-radius: 2px;
	content: "";
	animation-name: scroll;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}

@keyframes scroll {
	0% {
		opacity: 1;
		height: 8px;
	}
	20% {
		opacity: 1;
		height: 8px;
	}
	30% {
		transform: translateY(0);
		opacity: 1;
		height: 25px;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translateY(25px);
		opacity: 0;
		height: 0;
	}
	81% {
		transform: translateY(0);
		opacity: 0;
		height: 8px;
	}
	100% {
		opacity: 1;
		height: 8px;
	}
}
/*------------------ GUIDE ------------------*/

.guide-img{
	max-width: 100%;
	border-right: var(--my-main-color) solid 20px
}

/*------------------ BTN ------------------*/

.my-btn{
	/*background-color: transparent;*/
	/*border: rgba(0, 0, 0, 0.5) 1px solid ;*/
	/*padding: 10px;*/
	/*transition: all 0.2s cubic-bezier(0.65, -0.25, 0.25, 1.95);*/
	transition: all 0.2s ease-in-out;

	/*transition: 0.1s ;*/
	/*width: 250px;*/
	/*font-size: 20px;*/
	/*display: block;*/
	/*text-align: center;*/
	/*margin-top: 200px;*/
	padding: 1rem;

	background-color: var(--my-secondary-color);
}

.my-btn:hover{

	/*background-color:rgba(0, 117, 143, 1);*/
	background-color: var(--my-main-color);
	color: white;


}
/*------------------ CONTACT ------------------*/
.my-download{
	font-size: 3.2rem;
	transition: 0.2s ease-in-out
}

.my-download:hover{
	color: var(--my-link-color);
	
}

/*------------------ NAVIGATION ------------------*/

.my-navbar{
	padding-top:  0;
	padding-bottom: 0;
	top: 0;
	z-index: 3;
	background: transparent !important;

	position: fixed!important;
	width: 100%!important;

	font-size:  20px;

	transition:  0.3s ease-in-out ;

}

.small-nav{
	font-size:  16px!important;
	background-color: var(--my-main-color)!important;
	/*background-color: rgba(250, 183, 33,0.9)!important;*/

}

#logo{
	padding-left: 10px;
	padding-top: 10px ;
	height: 80px;
	transition:  0.3s ease-in-out ;
}

.small-logo{
	padding: 0!important;
	height: 50px!important;
	filter: invert(100%);
}

.nav-item::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width 0.3s;
}

.nav-item:hover::after {
	width: 100%;
}

.my-active:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: white;
}
/*===================== BACKGROUNDS =====================*/
.contact-bg{
	padding: 7%;
	background-image: url("../img/chad-peltola.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: top;
}
.contact-bg > h3{
	margin-left: 10vw;
	letter-spacing: 2px;
	font-weight: 400 ;
	color: white;
	padding: 10px;
	background-color: var(--my-main-color);
}

.carousel-calendar-bg{
	background-image: url("../img/january.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
}


.calendar-bg{
	padding: 7%;
	background-image: url("../img/calendar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
}

.calendar-bg > h3{
	margin-left: 10vw;
	letter-spacing: 2px;
	font-weight: 400 ;
	color: white;
	padding: 10px;
	background-color: var(--my-main-color);
}

.guide-bg{
	padding: 7%;
	background-image: url("../img/guide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
}
.guide-bg > h2{
	font-weight: 400 ;
	color: white;
}
.guide-bg > h1{
color: white;
}
.guide-bg > h3{
	margin-left: 10vw;
	letter-spacing: 2px;
	font-weight: 400 ;
	color: white;
	padding: 10px;
	background-color: var(--my-main-color);
}

.bg{
	background-image: url("../img/slika3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
}


[data-animate]{
	/*color: transparent!important;*/
	opacity: 0;
}

/*------------------ CALENDAR TABLE ------------------*/

/*tr:nth-child(odd) {*/
/*	background: rgba(20,50,100,0.2);*/
/*}*/
th{
	padding: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	font-size: 20px;
	border-bottom: var(--my-main-color) solid 15px;

}
th:nth-child(1){
	text-align: center!important;
}
th:nth-child(4){
	text-align: center!important;
}
td{
	padding: 1.2rem;
	transition: 0.2s linear;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);

}

tr:hover  td{
	background-color:   var(--my-secondary-color);
	cursor: pointer;
	color:  var(--my-link-color)
	/*font-size: 25px;*/
}

/*------------------ COUNTER ------------------*/
.counter-bg{
	width: 100%;
	height: 100vh;
	background-image: url("../img/holly-mandarich-7MrXw_o7Eo4-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	/*background-attachment: fixed;*/
	background-position: center;
	box-shadow:inset 0 0 0 2000px rgba(3, 102, 60,0.1);
}

/*------------------ FOOTER ------------------*/

#triangle {
	/* THIS IS THE MAGIC: using the directional keywords instead
	   of an angle in the linear gradient property*/
	background-image: linear-gradient(to left top,var(--my-secondary-color) 0%, var(--my-secondary-color) 50%, transparent 50%);
	position: relative;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
}

#square2 {
	width: 100%;
	/*height: 400px;*/
	background: var(--my-secondary-color);
}

.col-foo{
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 30px;
	transition: ease-in-out 0.1s;

}
.col-foo:hover{
	background-color: var(--my-main-color);
	color: white;
	text-decoration: none;
	font-size: 150%;
	font-weight: 600;

}

.socila-foo{
	text-decoration: none;
	color: black;
	transition: ease-in-out 0.1s;
}

.socila-foo:hover{
	text-decoration: none;
	background-color: var(--my-main-color);
	color: white;
	font-size: 150%;
	font-weight: 600;
	padding: 20px;
}

/*------------------ SCROLL TO TOP ANIMATION ------------------*/

#scroll-top{
	/*height: 50px;*/
	/*width: 50px;*/
	/*background-color: red;*/
	/*margin-right: 0px;*/
	position: fixed;
	bottom: 24px;
	right: 10px ;
	transition: linear 0.3s;
	font-size: 150%;
	padding: 30px;
	padding-left: 0;

}



#scroll-top:hover {
	/*letter-spacing: 5px;*/
	/*font-weight: 600;*/
	cursor: pointer;
	/*padding-bottom: 30px;*/
	/*font-size: 29px;*/
	transition:ease-in-out  0.2s !important;

}

#scroll-top:hover > #glupost{
	color: var(--my-main-color)!important; ;
}

#glupost > .fas{
	border-radius: 2px;
	padding: 10px;
	background-color: rgba(230, 233, 235,0.5);
	bottom: 20px;
	left: 0;
	position: relative;
	transition:ease-in-out  0.2s !important;
}

#scroll-top:hover > #glupost > .fas{
	bottom: 30px;
	left: 0;
	color: white;
	/*background-color: rgba(10, 20 ,50, 0.8);*/

	/*position: relative;*/
	/*display: block;*/
	background-color: var(--my-main-color)!important;
	transition:ease-in-out  0.2s !important;


}


.hide-scroll-button{
	background-color: transparent!important;
	color: transparent!important;
	bottom: -100px!important;
}

.show-scroll-button{
	bottom: 0;
}



/*.arrow:hover{*/
/*	!*width: 100px!important;*!*/
/*	!*padding: 20px!important;*!*/
/*	!*transform: rotate(360deg);*!*/
/*	letter-spacing: 10px;*/
/*	!*left: 10px!important;*!*/
/*	color: rgb(250, 183, 33)!important;*/



/*}*/

/*!*text*!*/

/*.proba:after{*/
/*	content: "TOP" !important;*/
/*	position: relative;*/
/*	bottom: 17px;*/
/*	left: -70px;*/
/*	font-size: 22px;*/
/*	!*transform: rotate(-90deg)!important;*!*/

/*}*/

/*!*arrow*!*/

/*.arrow {*/
/*	background: black;*/
/*	height: 1px;*/
/*	width: 100px;*/
/*	!*margin: 0 auto;*!*/
/*	position: relative;*/
/*	cursor: pointer;*/
/*	bottom: 500px;*/
/*	transform: rotate(-90deg);*/
/*	transition:ease-in-out  0.2s !important;*/
/*	!*transform: scale(1.1);*!*/
/*}*/

/*.arrow:before, .arrow:after {*/
/*	content: "";*/
/*	background:black;*/
/*	position: absolute;*/
/*	height: 1px;*/
/*	width: 20px;*/
/*}*/
/*.arrow:before {*/
/*	right: -3px;*/
/*	bottom: -6px;*/
/*	transform: rotate(-45deg);*/
/*}*/
/*.arrow:after {*/
/*	right: -3px;*/
/*	top: -7px;*/
/*	transform: rotate(45deg);*/

/*}*/
/*------------------ ARROW ANIMATION ------------------*/



.vla {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-left: 100px;
	margin-top: 15%;

}


.the-arrow {
	width: 64px;
	transition: all 0.2s;
}
.the-arrow.-left {
	position: absolute;
	top: 60%;
	left: 0;
}
.the-arrow.-left > .shaft {
	width: 0;
	background-color: black;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
	width: 0;
	background-color: black;
}
.the-arrow.-left > .shaft:before {
	transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
	transform: rotate(0);
}
.the-arrow.-right {
	top: 3px;
}
.the-arrow.-right > .shaft {
	width: 64px;
	transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
	width: 8px;
	transition-delay: 0.3s;
	transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
	transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
	transform: rotate(-40deg);
}
.the-arrow > .shaft {
	background-color: black;
	display: block;
	height: 1px;
	position: relative;
	transition: all 0.2s;
	/*transition-delay: 0;*/
	will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
	background-color: black;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.2s;
	/*transition-delay: 0;*/
}
.the-arrow > .shaft:before {
	transform-origin: top right;
}
.the-arrow > .shaft:after {
	transform-origin: bottom right;
}

.animated-arrow {
	display: inline-block;
	color: black;
	font-size: 1.25em;
	font-style: italic;
	text-decoration: none;
	position: relative;
	transition: all 0.2s;
}
.animated-arrow:hover {
	color: rgb(250, 183, 33);
	text-decoration: none;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
	width: 64px;
	transition-delay: 0.1s;
	background-color: rgb(250, 183, 33);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	width: 8px;
	transition-delay: 0.1s;
	background-color: rgb(250, 183, 33);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
	transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
	transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
	transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
	width: 0;
	transform: translateX(200%);
	/*transition-delay: 0;*/
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	width: 0;
	/*transition-delay: 0;*/
	transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
	transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	transform: rotate(0);
}
.animated-arrow > .main {
	display: flex;
	align-items: center;
	transition: all 0.2s;
}
.animated-arrow > .main > .text {
	margin: 0 16px 0 0;
	line-height: 1;
}
.animated-arrow > .main > .the-arrow {
	position: relative;
}

